// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-red:        #f10009;
$bg-grey:          #f2f2f2;
$bg-grey-form:      #a8a8a8;
$dark:            #131819;
$white:           #ffffff;
