// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}


form .row {
  padding: 1rem;
}

.forma {
  padding: 2rem;
}

.forma form {
  padding: 2rem;
}
.input-group-addon{
  border-radius: 0rem;
}

.form-control {
  border-radius: 0rem;
  height: 50px;
}

.input-group-addon {
  font-family: 'HelveticaNeue-Bold', sans-serif;
  font-size: .8rem;
  letter-spacing:0.03rem;
  line-height: 1rem;
  min-width: 134px;
}

.input-group-addon img {
  padding: 0 1rem 0 .5rem;
}

.input-daterange .input-group-addon {
  width: auto;
line-height: 1.42857143;
text-shadow: 0 1px 0 #fff;
border-width: 1px;
margin-left: 0px;
margin-right: 0px;
min-width: 147px;
}

.timepicker .input-group-addon {
  padding: 0 1rem 0 1rem;
  min-width: 10px;
}

.timepicker .input-group-addon img {
  padding: 0px;
}

body .gform_wrapper .top_label div.ginput_container {
  margin-top: 0px;
}

select {
  border-top-width: 1px;
  line-height: 2rem;
border-top-left-radius: 6px;
  color: $dark;
  height: 50px;
}

select option {
  padding: 2rem;
}

.gform_wrapper .gform_footer {
  text-align: center;
}
